.sidelayout {
  margin: 15px 0;
  height: calc(100% - 30px);
}

.card-sidelayout {
  &-body {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .list-group {
    width: 100%;
    text-align: center;
  }
}
