@import "../../style/global_styles.scss";

.graph-card {
  box-sizing: border-box;
  height: calc(50% - 1.5rem);
  min-width: calc(50% - 10px) !important;
  margin-right: 5px;
  padding: 0 !important;
  transition: 0.3s box-shadow ease-in;

  &:hover {
    box-shadow: $box-shadow;
  }

  &--empty {
    max-width: calc(50% - 5px) !important;
    &__add-graph-button {
      border-radius: 50% !important;
      width: 3rem;
      height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        width: 3rem;
      }
    }
  }

  &__header {
    padding: 0.5rem 0.5rem;
    display: flex;
    justify-content: space-between;
  }

  &__actions {
    flex: 5;
    display: flex;
    justify-content: flex-end;

    &__button--fullscreen {
      color: #000;
      font-weight: bolder;
      opacity: 0.75;
      width: 1em;
      height: 1em;
      box-sizing: content-box;
      padding: 0.25em 0.25em !important;
      margin-right: 5px;
      display: flex !important;
      justify-content: center;
      align-items: center;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__badge {
    flex: 1;
  }
}
